.tag-popover {
  max-width: 400px;
  padding: var(--spacing-2) var(--spacing-3);
  border-radius: var(--border-radius-md);
  box-shadow: var(--shadow-md);
  background-color: var(--color-background-muted);
}

app-tag-list {
  display: block;
}
