@use '../../../../styles/tokens.scss';

:host {
  display: block;
  max-width: 600px;
}

.mat-dialog-content.placeholder {
  padding: var(--spacing-4);
  color: var(--color-text-primary);
}

.close-button {
  position: absolute;
  top: var(--spacing-2);
  right: var(--spacing-2);
}
